

.header {
    grid-area: h;
    background-color: rgb(122, 163, 10);
}

.header img {
    width: 50px;
    text-align: center;
 }

.authorization{
    float:right;
    margin-right:2%;
}
.authorization a{
    color:white;
}