
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:slategrey;
}
.dialog_item{
    padding:10px;
}
.dialog_item .dialog{

}

.active{
    color:red;
}
.messages{
    padding: 10px;
}
.input{
    padding: 10px;
}